body {
    background-color: #2CB99A;
}

.firstform {
  width: 50%;
  height: 400px;
  background-color: white;
  margin-top: 10%;
  margin-left: 25%;
}

label{
    text-align: left;
}

button {
    background-color: #58EBCB;
}
.inputstyle{
    width: 700px;
    height: 40px;
}
.labelname{
    margin-top: 5%;
}
.btnstyle{
    margin-left: 85%;
}